
body {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  color: #222;
  font-weight: 300;
  max-width: 900px;
}

pre, kbd, samp, code, var, pre span {
  font: medium/1 'Andale Mono', monospace;
}

h1, h2, h3, aside {
  font-family: "Book Antiqua", Palatino, Georgia, serif;
}

tt {
  color: #002;
}

button {
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  background-color: steelblue;
  color: white;
  border: none;
  padding: 1%;
  box-shadow: none;
}

/* solutions */
.solution.hide {
  display: none;
}

/* Code */

pre {
  border-left: 2px solid #EEE;
  border-right: 2px solid #EEE;
  background-color: #F3F3F6;
  color: #000;
  padding: 12px;
  margin: 0px;
}


*/
/* Code */

pre {
  border-left: 2px solid #EEE;
  border-right: 2px solid #EEE;
  background-color: #F3F3F6;
  color: #000;
  padding: 12px;
  margin: 0px;
}


